/* Header */

#header {
    img {
        width: 110px;
    }
}

.items img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

footer img {
    width: 150px;
}

.step1 {
    width: 60vw !important;
}

.s1-nl {
    display: flex;
}

.s1-nl ol {
    text-align: justify;
    padding-right: 20px;
}

.stylenl {
    width: 35%;
}

.leftp {
    padding-left: 40px;
}

.rightp {
    padding-right: 40px;
}

.gallery.stylenl article {
    overflow: hidden;
    position: relative;
    width: 20vw;
}

.gallery-train>.backward,
.gallery-train>.forward {
    display: none;
}

.banner-methods {
    background-image: url(../../images/grupo_03.png);
    color: #ffffff;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-methods h1 {
    color: #ffffff;
}

footer {
    height: 10%;
}


/*Map Styles*/

#map {
    width: 100vw;
    height: 100vh;
}

.floating-button {
    position: absolute;
    z-index: 999;
    left: 50px;
    top: 10px;
}

.banner-transparency {
    opacity: 0.2;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.custom-banner {
    /*Change the background image here*/
    background-image: url('../../images/background-index.jpg') !important;
    background-size: cover !important;
    /* Original background, for reference
    background-attachment: scroll, scroll, scroll, fixed;
    background-color: #645862;
    background-image: url("images/light-bl.svg"), url("images/light-br.svg"), url("images/overlay.png"), url("../../images/banner.jpg");
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    */
    width: 100%;
    height: 100%;
}


/*Popup Styles*/

.ol-popup {
    position: absolute;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}


/*Add your new styles after this line*/

.custom-control {
    bottom: 30px;
    position: absolute;
    right: 15px;
    background: white;
    border: 2px solid cadetblue;
    padding: 10px;
}


/*Results*/

.inner-results {
    padding: 2rem 2.5rem 3rem 2.5rem;
}

.inner-results .stylenl {
    width: 100%;
    margin-right: 20px;
}

.inner-results .gallery.style2 article {
    height: 14rem;
    width: 14rem;
}

.img-res {
    width: 27vw;
}

.result-text {
    font-size: 0.8rem;
}

.inner-results .box-left {
    width: 50%;
}

.inner-results .table-wrapper {
    margin: 0;
    padding-top: 10px;
}

.s1-nl .box {
    margin: 10px;
    padding: 30px;
}

.inner-results table th,
.inner-results table tr {
    font-size: 0.8rem;
}

.inner-results .box p,
.inner-results .box li {
    font-size: 0.85rem;
    margin: 0;
    text-align: justify;
}

.inner-results h4 {
    text-align: left;
    font-weight: 400;
}