/* Header */

#header {
    img {
        width: 110px;
    }
}

.items img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}

footer img {
    width: 150px;
}

.step1 {
    width: 60vw !important;
}